*{
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    background-color: white;
}

body::-webkit-scrollbar-thumb{
    background-color: #14FF00;
    border-radius: 5px;
    border: 3px solid white;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1rem;
    margin-bottom: 1rem;
    overflow-x: hidden;
}

h1{
    font-family: 'Exo 2', sans-serif;
    font-size: 3rem;
}

p, input{
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
}

label{
    font-family: 'Kanit', sans-serif;
}