.menuMainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.menuGreetingsContainer{
    display: flex;
    flex-direction: column;
    margin-right: 35rem;
}

.menuGreetingsContainer p{
    font-size: 2rem;
}

.menuRowContainer{
    display: flex;
    gap: 5rem;
}

.menuCardsContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
}

.cardContainerImg{
    display: flex;
    width: 35rem;
}

.cardContainerImg img{
    display: flex;
    height: 35rem;
    width: 35rem;
}





